@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton/optional/presets';
@import '@skeletonlabs/skeleton/themes/cerberus';

@source '../node_modules/@skeletonlabs/skeleton-svelte/dist';

/* @custom-variant dark (&:where(.dark, .dark *)); */
@custom-variant dark (&:where([data-mode=dark], [data-mode=dark] *));

// 用来控制背景和颜色渐变．
@media (prefers-reduced-motion: no-preference) {
	:root,
	:root body {
		transition:
			background-color 0.3s ease,
			color 0.3s ease;
	}
}

@media (prefers-reduced-motion: reduce) {
	:root,
	body {
		transition: none !important;
	}
}

/* Windows 桌面安全区、统一背景 */
:root {
	--tb-height: 34px; /* 自绘标题栏高度 */
}

html,
body,
#svelte {
	height: 100%;
}

body {
	@apply bg-surface-50 text-surface-900 dark:bg-surface-900 dark:text-surface-50;
}

/* Tauri 拖拽相关 */
.titlebar-drag {
	-webkit-app-region: drag;
	user-select: none;
}
.no-drag {
	-webkit-app-region: no-drag;
}
